{% extends 'base.html.twig' %}

{% block title %}Physical Matter - {{book.title|raw}}{% endblock %}

{% block body %}
<div class="bookPage">
    {% include 'header/index.html.twig' %}
    <h1>SHOW PAGE BOOK </h1>
    <h2>{{book.title|raw}}</h2>
    <a href="{{ path('book_delete', {'id': book.id}) }}">DEELTE</a>
</div>
{% endblock %}
