{% extends 'base.html.twig' %}

{% block title %}Physical Matter - TITLE BOOK{% endblock %}

{% block body %}
<div class="noise"></div>
<div class="bookPage">
    {% include 'header/index.html.twig' %}
    <h1>SHOW PAGE BOOK </h1>
</div>
{% endblock %}
